body
{
	background-color: #333;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;	
}

h1
{
	margin: 0;
	color: #eee;
	letter-spacing: 3px;
	text-align: center;
	font-size: 48px;
}

#container
{
	position: relative;
	background-color: white;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 50px;
	margin-top: 80px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(140,140,140,0.8);
	-moz-box-shadow: 3px 3px 30px 5px rgba(140,140,140,0.8);
	box-shadow: 3px 3px 30px 5px rgba(140,140,140,0.8);
	border: 2px solid #999;
	border-radius: 5px;
}

input[type=text],
input[type=password],
input[type=email]
{
	color: grey;
	font-size: 1em;
	min-height: 52px;
	padding: 10px;
	border: 2px solid #999;
	border-radius: 5px;
	background-color: #eee;
	box-sizing: border-box;
	width: 300px;
	margin-bottom: 10px;
	outline: none;
}

input[type=submit]
{
	margin-top: 10px;
	padding: 10px;
	border: 2px solid #999;
	border-radius: 5px;
	background-color: green;
	box-sizing: border-box;
	width: 300px;
	outline: none;
	cursor: pointer;
	color: white;
	font-size: 24px;
	font-weight: 700;
}

input[type=text]:focus,
input[type=password]:focus

{
	border: 3px solid green;
}

input[type=submit]:hover
{
	background-color: #005500;
}

#Question
{
	display: inline-block;
	font-size: 1em;
	margin-top: 10px;
	width: 146px;
}

#Register
{
	display: inline-block;
	font-size: 1em;
	width: 150px;
	text-align: right;
}

.Registration
{
	background-color: white;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}